@tailwind base;
@tailwind components;
@tailwind utilities;



  body{
    background-color:#313233 ;
    color: rgb(252, 252, 252);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  * {
    scroll-behavior: smooth;
  }

  .sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }    
    100% {
      -webkit-transform: translateY(0);
       transform: translateY(0);
         } 
  }
  


  .button_gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #b1eaec 0.89%,
      #9deaec 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
  }

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #b1eaec 0.89%,
      #9deaec 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }